version: 0.4

services:
  - name: minio
    image: minio/minio:RELEASE.2022-10-08T20-11-00Z
    port: 9000
    http_port: 9001
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    command: ["/opt/bin/minio", "server", "/export", "--address", ":9000", "--console-address", ":9001"]
    environment_variables:
      - "MINIO_ROOT_USER"
      - "MINIO_ROOT_PASSWORD"
    automatic_https:
      enabled: true
    healthcheck:
      path: /minio/health/ready
      port: 9000
      timeout_seconds: 10
    volumes:
      - name: minio-data
        mount_path: /export
        read_only: false

volumes:
  - name: minio-data
